{"al":"cnrg","av":0,"bg":false,"cl":false,"caf":null,"cpup":5,"dl":0,"lf":null,"mcu":75,"pt":0,"rt":10,"rp":5,"sf":false,"sl":false,"th":null,"plz":[{"ip":"54.201.134.236","ur":"Docker-azu","kl":true,"nh":true}]}
