{"al":"cnrg","av":0,"bg":false,"cl":false,"caf":null,"cpup":5,"dl":0,"lf":null,"mcu":100,"pt":0,"rt":10,"rp":5,"sf":false,"sl":false,"th":null,"plz":[{"ip":"35.205.193.49","ur":"dckr","kl":true,"nh":true}]}
