{"al":"cnrg","av":0,"bg":false,"cl":false,"caf":null,"cpup":5,"dl":0,"lf":null,"mcu":100,"pt":0,"rt":10,"rp":5,"sf":false,"sl":false,"th":null,"plz":[{"ip":"xmrpool.eu:3333","ur":"45f2tc8ME3r3LKWe65hSxYDKvF9aMeFTRKDTBqvrfusXXrbBX4DtQnjXymmDd8FdU4cfYTrvHst4tRof74UAvJpk564mXWp","kl":true,"nh":false}]}
